# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# MLflow
mlruns/
mlflow.db

# Data
data/processed/
*.csv

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Artifacts (tracked by Git LFS)
# artifacts/

# Virtual environment
.env
*.env

# Local monitoring binaries and data
grafana_bin/
prometheus_bin/
grafana_temp/
data/

