# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# MLflow
mlruns/
mlflow.db

# Data processed
preprocessing/namadataset_preprocessing/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Artifacts (tracked by Git LFS)
# artifacts/

# Virtual environment
.env
*.env

# Workspaces/Sub-repos
Workflow-CI/
